*,
*::after,
*::before {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.nav{
    position: fixed;
    top: 0%;
    width: 100%;
    text-align: center;
    background-color: #373A3C;
    padding: 10px 0;
}

ul{
    list-style: none;
}

ul li{
    display: inline;
    font-weight: 100;
}

ul li a{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 100;
    margin: 3.5%;
}

ul li a:hover{
    color: #4ea7ff;
    transition: 0.5s;
}

.articles{
    margin: 10% auto 0;
    width: 80%;
}

.title{
    color: #006699;
    font-weight: 100;
    font-size: 2.5em;
    margin-top: 5%;
}

.btn{
    border: 2px solid #666666;
    border-radius: 50px;
    background: none;
    outline: none;
    cursor: pointer;
    color: #8b8b8b;
    font-size: 1.5em;
    padding: 15px 65px;
}

.btn:hover{
    background-color: #666666;
    transition: 0.5s;
    color: white;
}

.middle-images{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10% 0;
}

.some-articles{
    display: flex;
    margin-top: -7.5%;

}

.line{
    color: #828282;
    background-color: #f2f2f2;
    padding: 1%;
}

.images-with-articles{
    display: flex;
    margin-top: 10%;
}

.footer{
    height: 100px;
    background-color: #f2f2f2;
    color: #828282;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-3:hover{
    background-color: #006699;
    transition: 0.5s;
    border: 2px solid #006699;
}

.btn-4:hover{
    background-color: #666666;
    transition: 0.5s;
}

.btn-5:hover{
    background-color: #006666;
    transition: 0.5s;
    border: 2px solid #006666;
}

/* Responsive design started from here */
@media only screen and (max-width: 768px) {
    .nav {
        position: static;
        display: none;
    }

    .title {
        font-size: 2em;
    }

    .hero-text-mobile {
        width: 100% !important;
        padding: 0 20px 0 20px;
    }

    .articles {
        margin: 0;
        width: 100%;
    }

    .articles-with-padding {
        padding: 0 20px 0 20px;
    }

    .some-articles {
        padding-left: 20px;
        padding-right: 20px;
    }

    .images-with-articles {
        flex-direction: column;
        padding-right: 20px;
        padding-left: 20px;
    }

    .middle-images {
        flex-direction: column;
    }

}